@import "~@/styles/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";

body {
    display: flex;
    flex-direction: column;
}

.c-pointer {
    cursor: if($enable-button-pointers, pointer, null);
}

svg {
    margin-bottom: 1px;
}