<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <style>
            body,html{height:100%}body:before{content:"Loading...\00000a\00000aThis application requires a modern browser to function properly!";white-space:pre-wrap;font-size:32px;font-weight:700;text-align:center;background-color:#0f2537;color:#fff}body.loaded:before{content:none}:root{color-scheme:dark}
        </style>
    </head>
    <body>
        <noscript>This application requires javascript to be enabled to function.</noscript>
    </body>
</html>